/* list item */
.itemStyle {
    list-style-type: none;
    padding-left: 0px;
    text-align: left;
    margin-bottom: 10px;
}

.listContainer {
    border-radius: 15px;
    background-color: #343A40 !important;
    padding: 10px;
    margin-bottom: 8px;
}

.listContainer > p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

.listContainerBtn {
    display: flex;
}

.ulContainer {
    height: 556px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.ulContainer::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
    border: 1px solid transparent;
    background-clip: content-box;
    width: 1px;
}

.ulContainer::-webkit-scrollbar {
    background: black !important;
    border-radius: 10px;
    width: 8px;
}

.globalBtn {
    margin-bottom: 15px;
    padding-left: 0px !important;
    padding-right: 10px !important;
}

.globalBtn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.globalBtn:active {
    cursor: grabbing;
}

.globalBtn > img {
    width:30px ;
    height: 20px;
}

.sortBtn {
    margin-left: 10px;
}

.apexcharts-legend-text,
.apexcharts-legend-marker {
    margin-top: 10px;
}

.caption {
    margin-bottom: 25px;
    font-size: 12px;
    text-align: right;
}

@media screen and (min-width:768px) {
    .countryListColumn {
        padding-right: 0px !important;
    }
}

@media screen and (max-width:767px) {
    .ulContainer {
        height: 275px;
    }
}

@media screen and (max-width: 540px) {
    .apexcharts-title-text {
        font-size: 17px !important;
    }
}
