/* list item */
.itemStyle {
    list-style-type: none;
    padding-left: 0px;
    text-align: left;
    margin-bottom: 10px;
}

.listContainer {
    border-radius: 15px;
    background-color: #343A40 !important;
    padding: 10px;
    margin-bottom: 15px;
}

.listContainer > p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

.listContainerBtn {
    display: flex;
}

.ulContainer {
    height: 229px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.ulContainer::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
    border: 1px solid transparent;
    background-clip: content-box;
    width: 1px;
}

.ulContainer::-webkit-scrollbar {
    background: black !important;
    border-radius: 10px;
    width: 8px;
}

.globalBtn {
    text-align: left;
    font-size: 15px;
    /*background-color: #A6ACAF;*/
    background-color: #6D757D;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 15px;
    width: 100px;
}

.globalBtn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.globalBtn:active {
    cursor: grabbing;
}

.globalBtn > img {
    width:30px ;
    height: 20px;
}

.sortBtn {
    margin-left: 10px;
}

.graphBtn {
    text-align: right;
    margin-bottom: 10px;
}
/* Graph */
.selectionChartContainer {
    background-color: #343A40;
    border-radius: 15px;
    margin-bottom: 5px;
    padding-top: 10px;
}

.apexcharts-legend-text,
.apexcharts-legend-marker {
    margin-top: 10px;
}

@media screen and (max-width:576px) {
    .graphBtn {
        text-align: left;
    }
}

@media screen and (max-width: 540px) {
    .apexcharts-title-text {
        font-size: 17px !important;
    }
}
