.fbShareBtn {
   margin-left: 10px;
   float: right;
   display: flex;
   padding-top: 12px;
   padding-bottom: 10px;
}

.fbShareBtn:hover {
    opacity: 0.7;
}

@media screen and (max-width: 576px ) {    
    .fbShareBtn {
        margin-left: 10px;
        padding-top: 5px;
    }
}