.itemFlag {
    width: 30px !important;
    height: 20px !important;
    margin-right: 10px;
}

li {
    padding: 7px;
    border-bottom: 1px solid grey;
    font-size: 15px;
    cursor: pointer;
}

li:hover {
    opacity: 0.7;
}

li:active {
    cursor: grabbing
}

li > h6 {
    margin-bottom: 5px;
}

.listContent {
    display: flex;
    justify-content: flex-start;
}

.listContent > h6 {
    margin-right: 5px;
    margin-bottom: 0px;
}

.Infected {
    color:#FFE75E
}

.Fatality,
.Death{
    color:#FF4560;
}

.Recovery,
.Recovered {
    color:#00E396
}