.cardStyle {
    padding-bottom: 0px !important;
    height: 290px;
    margin-right: 5px;
    margin-bottom: 10px;
    overflow: hidden;
    cursor: pointer;
    color: white;
    text-decoration: none;
    transition: transform .2s;
}

.cardStyle:active {
    cursor: grabbing ;
}

.cardStyle:hover {
    opacity: 0.8 !important;
    transform: scale(1.05);
}

.cardBody {
    padding-bottom: 0px !important;
}

.linkStyle {
    color: inherit;  
}

.linkStyle:hover {
    color: inherit;
    text-decoration: inherit;
}

.articleImage {
    height: 150px;
    width: 100%;
}

.cardTitle {
    font-size: 15px !important;
    font-weight: 700 !important;
    text-align: left;
}

.cardText {
    font-size: 10px;
    text-align: left;
}

@media screen and (min-width: 420px) {
    .cardStyle {
        margin-right: 15px;
        height: 350px;
    }

    .articleImage {
        height: 170px;
    }
}

@media screen and (max-width: 420px) {
    .articleImage {
        height: 120px !important;
    }

    .cardTitle {
        font-size: 12px !important;
    }

    .cardText {
        font-size: 8px !important;
    }

}

@media screen and (max-width: 350px) {
    .cardTitle {
        font-size: 11px !important;
    }

    .cardText {
        font-size: 7px !important;
    }
}