.caption {
    margin-bottom: 25px;
    font-size: 12px;
    text-align: right;
}

.leftDot {
    background-color:#008FFB;
    margin-left: 4px !important;
}

.middleDot {
    background-color: #00E396;
}

.rightDot {
    background-color: #FEB019;
    margin-right: 4px !important;
}

.leftDot,
.middleDot,
.rightDot {
    height: 9px;
    width: 9px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 50%;
    display: inline-block;
}