.paypalImg {
    width: 90px;
    height: 25px; 
    margin-left: 10px;
}

@media screen and (max-width: 420px) {
    .paypalImg {
        width: 60px;
        height: 16px !important;
    }
}

@media screen and (max-width: 540px) {
    .paypalImg {
        width: 80px;
        height: 22px;
    }
}