.disclaimerContainer {
    border-radius: 15px;
    margin-bottom: 25px;
    background-color: #343A40;
    padding: 10px;
    overflow: hidden;
    text-align: left;
}

.disclaimerContainer > h4 {
    text-align: center !important;
}

.disclaimerContainer > h6 {
    margin-bottom: 3px;
}

.email > p,
.disclaimerContainer > p {
    font-size: 14px;
    margin-bottom: 12px !important;
}

.envelopeIcon {
    font-size: 15px;
    color: white;

}

.emailBtn {
    margin-right: 5px;
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}

.links{
    margin-left: 5px;
    margin-right: 5px;
}

@media screen and (max-width: 540px ) {
    .disclaimerContainer > h4{
        font-size: 20px;
    }
}

@media screen and (max-width: 420px) {
    .email > p,
    .disclaimerContainer > p {
        font-size: 10px;
    }
}