.main {
    background-color: #1F2125;
    padding: 10px;
    height: 100% !important;
    width: 100% !important;
    overflow: auto !important;
    -webkit-overflow-scrolling: touch;
}

.main::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
    border: 1px solid transparent;
    background-clip: content-box;
    width: 1px;
}

.main::-webkit-scrollbar-track {
    background: black !important;
    border-radius: 10px;
}

.main::-webkit-scrollbar {
    width: 5px;
}

.toolTipContainer {
    overflow-x: scroll;
    padding-bottom: 5px;
    margin-bottom: 25px;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.toolTipContainer::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
    border: 1px solid transparent;
    background-clip: content-box;
}

.toolTipContainer::-webkit-scrollbar {
    background: black !important;
    border-radius: 10px;
    height: 7px !important;
}

.leftDot {
    background-color:#008FFB;
    margin-left: 4px !important;
}

.middleDot {
    background-color: #00E396;
}

.rightDot {
    background-color: #FEB019;
    margin-right: 4px !important;
}

.leftDot,
.middleDot,
.rightDot {
    height: 9px;
    width: 9px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 50%;
    display: inline-block;
}

.caption {
    margin-bottom: 13px !important;
    font-size: 12px;
}

.listItemContainer {
    border-radius: 15px;
    background-color: #343A40 !important;
    padding: 10px;
    margin-bottom: 25px;

}

.listItemContainer > p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

.ulContainer {
    height: 232px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.ulContainer::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
    border: 1px solid transparent;
    background-clip: content-box;
    width: 1px;
}

.ulContainer::-webkit-scrollbar {
    background: black !important;
    border-radius: 10px;
    width: 8px;
}

.itemStyle {
    list-style-type: none;
    padding-left: 0px;
    text-align: left;
    margin-bottom: 10px;
}

.subTitle {
    text-align: left;
}

.contentText {
    text-align: left;
}

.articleContainer {
    overflow: hidden;
    margin-bottom: 25px;
    scrollbar-shadow-color: black;
    scrollbar-width: thick;
    overflow-x: scroll !important;
}

.articleContainer::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
    border: 1px solid transparent;
    background-clip: content-box;
    width: 1px;
}

.articleContainer::-webkit-scrollbar {
    background: black !important;
    border-radius: 10px;
    height: 7px;
}

.globalBtn {
    text-align: left;
    font-size: 15px;
    background-color: #A6ACAF;
    border-radius: 15px;
    padding: 4px;
    margin-bottom: 15px;
    width: 100px;
}

.globalBtn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.globalBtn:active {
    cursor: grabbing;
}

.twitterShareBtn {
    float: right;
    padding-top: 12px;
    padding-bottom: 10px;
}

.fbShareBtn {
   float: right;
   display: flex;
   padding-top: 12px;
   padding-bottom: 10px;
   margin-right: 10px;
}

.fbShareBtn:hover {
    opacity: 0.7;
}

.mapContainer {
    margin: auto;
    width: 100% !important;
}

@media screen and (max-width: 576px ) {
    .twitterShareBtn {
        float: left;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .fbShareBtn {
        float: left;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 540px ) {
    .subTitle {
        font-size: 20px;
    }

    .listItem {
        height: 200px;
    }

    .listItemContainer > p {
        font-size: 17px;
    }
    .alertContainer {
        font-size: 15px;
    }
}

@media screen and (max-width: 420px) {
    .ulContainer {
        height: 130px !important;
    }

    .alertContainer {
        font-size: 8px !important;
    }

    .modalLeft {
        padding-right: 5px !important;
    }

    .modalMiddle {
        padding-right: 8px !important;
        padding-left: 8px !important;
    }

    .modalRight {
        padding-left: 5px !important;
    }
}

