.Success {
    color: #32CD32;
}

.Danger {
    color: red;
}

.Warning {
    color: yellow
}

.figure {
    font-weight: 600;
    font-size: 30px;
}

.modalContainer {
    border-radius: 15px;
    margin-bottom: 5px;
    background-color: #343A40;
    padding: 1px !important;
    overflow: hidden;
}

@media screen and (max-width: 540px) {
    .modalStatus {
        font-size: 15px;
    }

    .figure {
        font-size: 18px;
    }
}

@media screen and (max-width: 350px) {
    .modalStatus {
        font-size: 12px;
    }

    .figure {
        font-size: 13px;
    }
}