.recovered {
    color: #2FCC40;
}

.death {
    color: #FF2800;
}

.infected {
    color: #FFE31E;
}

.arrow {
    margin-bottom: 0px;
    margin-right: 2px;
    text-shadow: 3px 3px black;
}

.null {
    margin-bottom: 0px;
    text-shadow: 3px 3px black;
}

.figure {
    font-weight: 600;
    font-size: 30px;
}

.figureIncrement {
    font-weight: 500;
    font-size: 20px;
}


.modalContainer {
    border-radius: 15px;
    margin-bottom: 15px;
    background-color: #343A40;
    padding-top: 7px;
    padding-bottom: 7px;
    overflow: hidden;
}

.modalStatus {
    margin-bottom: 0px;
}

.todayUpdate {
    justify-content: center;
}

.percent {
    font-weight: 350 !important;
    font-size: 18px;
    margin-left: 10px;
}

@media screen and (max-width: 540px) {
    .modalStatus {
        font-size: 15px;
    }

    .null,
    .arrow {
       font-size: 18px;
       text-shadow: 2.5px 2.5px black;
    }

    .figure {
        font-size: 18px;
    }

    .figureIncrement {
        font-size: 14px;
    }
}

@media screen and (max-width: 420px) {
    .null,
    .arrow {
       font-size: 12px;
       text-shadow: 2.5px 2.5px black;
    }

    .percent {
        margin-left: 2px;
    }

    .figureIncrement {
        font-size: 11px;
    }
}

@media screen and (max-width: 350px) {
    .null,
    .arrow {
        font-size: 9px;
    }

    .modalStatus {
        font-size: 12px;
    }

    .figure {
        font-size: 13px;
    }

    .figureIncrement {
        font-size: 9px;
    }
}