.cardStyle {
    padding-bottom: 10px !important;
    height: 350px;
    width: 300px;
    border-radius: 0px !important;
    margin-right: 5px;
    margin-bottom: 10px;
    overflow: hidden !important;
    cursor: pointer;
    color: white;
    text-decoration: none;
    transition: transform .2s;
}

.cardStyle:active {
    cursor: grabbing ;
}

.cardStyle:hover {
    opacity: 0.8 !important;
    transform: scale(1.05);
}

.cardBody {
    overflow: hidden;
}

.cardText {
    text-align: left;
    font-size: 11px;
}

.linkStyle {
    color: inherit;  
}

.linkStyle:hover {
    color: inherit;
    text-decoration: inherit;
}

.articleImage {
    height: 150px;
    width: 100%;
}

.cardTitle {
    font-size: 14px !important;
    font-weight: 700 !important;
    text-align: left;
}

.publish {
    font-size: 10px;
    text-align: left;
    margin-left: 20px;
    color:silver
}

.timeAgo {
    margin-top: 10px;
}

@media screen and (max-width: 420px) {
    .cardStyle {
        width: 220px;
    }

    .articleImage {
        height: 135px !important;
    }

    .cardTitle {
        font-size: 12px !important;
    }

    .cardText {
        font-size: 10px;
    }

    .publish {
        font-size: 8px !important;
    }

}

@media screen and (max-width: 350px) {
    .cardTitle {
        font-size: 10px !important;
    }

    .publish {
        font-size: 8px !important;
    }
}