.cardStyle {
    padding-bottom: 10px;
    border-radius: 0px !important;
    height: 350px;
    width: 300px;
    margin-right: 15px;
    margin-bottom: 10px;
    overflow: hidden;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.cardStyle:active {
    cursor: grabbing ;
}

.cardBody {
    overflow: hidden;
}

.cardText {
    text-align: left;
    font-size: 11px;
}

.linkStyle {
    color: inherit;  
}

.linkStyle:hover {
    color: inherit;
    text-decoration: inherit;
}

.articleImage {
    height: 150px;
    width: 100%;
}

.cardTitle {
    font-size: 14px !important;
    font-weight: 700 !important;
    text-align: left;
}

.publish {
    font-size: 10px;
    text-align: left;
    margin-left: 20px;
    color:silver
}

.timeAgo {
    margin-top: 10px;
}

@media screen and (min-width:420px){
    .cardStyle {
        transition: transform .2s;
    }

    .cardStyle:hover {
        opacity: 0.8;
        transform: scale(1.05);
    } 
}

@media screen and (max-width: 420px) {
    .cardStyle {
        width: 220px;
    }

    .cardBody {
        padding: 10px !important;
    }

    .articleImage {
        height: 135px !important;
    }

    .cardTitle {
        font-size: 12px !important;
    }

    .cardText {
        font-size: 10px;
    }

    .publish {
        font-size: 8px !important;
    }

}

@media screen and (max-width: 350px) {
    .cardTitle {
        font-size: 10px !important;
    }

    .publish {
        font-size: 8px !important;
    }
}