.dataTable {
    width: 100% !important;
    background-color: #343A40;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 25px;
}

.recovered {
    color: #00E396;
    font-weight: 700;
}

.deaths {
    color: #FF4560;
    font-weight: 700;
}

.infected {
    color: #FFE31E;
    font-weight: 700;
}