.table-custom {
    color: white !important;
}

.dataTable {
    width: 100% !important;
    background-color: #343A40;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 25px;
}

.tableHeader {
    position: sticky !important;
    top: 0 !important;
}

