.dataTable {
    width: 100% !important;
    background-color: #343A40;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 25px;
}

.recovered {
    color: #32CD32;
    font-weight: 700;
}

.death {
    color: red;
    font-weight: 700;
}

.infected {
    color: yellow;
    font-weight: 700;
}