.chartContainer {
    background-color: #343A40;
    border-radius: 15px;
    margin-bottom: 5px;
    padding-top: 10px;
}

.apexcharts-legend-text,
.apexcharts-legend-marker {
    margin-top: 10px;
}

@media screen and (max-width: 540px) {
    .apexcharts-title-text {
        font-size: 17px !important;
    }
}
