.chartContainer {
    background-color: #343A40;
    border-radius: 15px;
    margin-bottom: 5px;
    padding-top: 10px;
}

.apexcharts-legend-text,
.apexcharts-legend-marker {
    margin-top: 10px;
}

.caption {
    margin-bottom: 13px !important;
    font-size: 12px;
    text-align: right;
}

.leftDot {
    background-color:#008FFB;
    margin-left: 4px !important;
}

.middleDot {
    background-color: #00E396;
}

.rightDot {
    background-color: #FEB019;
    margin-right: 4px !important;
}

.leftDot,
.middleDot,
.rightDot {
    height: 9px;
    width: 9px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 50%;
    display: inline-block;
}

@media screen and (max-width: 540px) {
    .apexcharts-title-text {
        font-size: 17px !important;
    }
}
